

<h2>Decks</h2>
  <% @decks.each do |deck| %>

    <ul>
        <li><%= deck[:name] %></li>
        <li><%= deck[:sfw] %></li>
    </ul>
  <% end %>

<h2>Instance</h2>
  <% @instances.each do |i| %>

    <ul>
        <li><%= link_to i[:card], edit_path(i) %></li>
        <li> SFW: <%= i.sfw ? "True" : "False" %></li>
    </ul>
  <% end %>

<h2>Responses</h2>
  <% @responses.each do |r| %>

    <ul>
        <li><%= link_to r[:card], edit_response_path(r) %></li>
        <li> SFW: <%= r.sfw ? "True" : "False" %></li>
    </ul>
  <% end %>
