<h2>Edit Response Cards</h2>

<%= link_to "Home", root_path %>

  <div>
    <form action="<%= update_response_path(params[:id]) %>" method="post">
      <label for="card">Card Text:</label>
      <p><%= @response.card %></p>
      <input type="text" name="card" value="<%= @response.card %>">

      <label for="deck_id">Deck</label>
      <input type="number" name="deck_id" value="<%= @response.deck_id %>"

      <label for="sfw">SFW</label>
      <select name="sfw">
        <option value="true">SFW</option>
        <option value="false">NSFW</option>
      </select>

      <button>Update card</button>
  </div>
